@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

:root {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width var(--transition-speed) ease;
  --text-primary: #9c9c9c;
  --text-secondary: #ececec;
  --icon-hover: #7181be;
  --bg-primary: #24232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-row {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
}

.nav-row:hover {
  background: var(--bg-secondary);
  color: var(--text-secondary);
  cursor: pointer;
}

.nav-row:hover i {
  color: var(--icon-hover);
}

.label-text {
  display: none;
  margin-left: 1rem;
}

.nav-row i {
  width: 2rem;
  min-width: 2rem;
  margin-left: 2rem;
  transition: color var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
  font-size: 1.5rem;
  margin: 0;
}

.main-section {
  --header-color: #f0f0f0;
  --body-color: #e6e6e6;
}

.main-section header {
  background-color: var(--header-color);
  border-bottom: 2px solid #878787;
}

.main-section header .title {
  font-size: 3rem;
  padding: 1rem 0 0 1rem;
}

.main-section header .description {
  font-size: 1rem;
  padding: 0 0 1rem 1rem;
}

.main-section article {
  background-color: var(--body-color);
}

.main-section.hidden {
  display: none;
}

.background {
  display: none;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-row {
    justify-content: center;
  }

  .nav-row i {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .nav-item:last-child {
    margin-top: auto;
  }

  .navbar:hover {
    width: 16rem;
    justify-content: center;
  }

  .navbar:hover .label-text {
    display: inline;
    margin-left: 0rem;
    white-space: nowrap;
  }

  .navbar:hover .logo-text {
    margin: 0;
    left: 1rem;
  }

  .main-section {
    margin-left: 5rem;
  }
}
