#game-board {
  background-color: rgba(156, 221, 57, 0.5);
  width: 70vmin;
  height: 70vmin;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
  position: relative;
  left: 25%;
}

.snake {
  background-color: rgb(155, 221, 57);
}

.food {
  background-color: rgb(255, 101, 101);
  border: 0.25vmin solid grey;
}
